body, html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: Arial, sans-serif;
    scroll-behavior: smooth;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
    padding: 10px 0;
    text-align: center;
    z-index: 1000;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 100px;
}

nav ul li {
   display: inline; 
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 10px 20px;
    background: rgba(10, 10, 10, 0.8);
    border-radius: 5px;
    transition: 0.3s;
}

nav ul li a:hover {
    filter: invert(1);
}

.content {
    margin-top: 80px; /* Pushes sections down to prevent overlap */
}
.parallax {
    height: 100vh;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
}

#parallax1 { background-image: url('images/biota 1.jpg');
            background-size: 80%; }
#parallax2 { background-image: url('images/biota2.jpg'); 
            background-size: 50%; }
#parallax2::before {
    content: "";
    position: absolute;
    top: 0;
    left: -10%;
    width: 120%;
    height: 100%;
    background-image: url('back1.jpg');
    background-size: cover;
    background-position: center;
    filter: blur(20px);
    z-index: -1;
}
#parallax3 { background-image: url('images/biota3.jpg');
            background-size: 60%; }
#parallax3::before {
    content: "";
    position: absolute;
    top: 0;
    left: -10%;
    width: 120%;
    height: 100%;
    background-image: url('back1.jpg');
    background-size: cover;
    background-position: center;
    filter: blur(20px);
    z-index: -1;
}
#parallax4 { background-image: url('images/biota4.jpg');
            background-size: 50%; }
#parallax4::before {
    content: "";
    position: absolute;
    top: 0;
    left: -10%;
    width: 120%;
    height: 100%;
    background-image: url('back1.jpg');
    background-size: cover;
    background-position: center;
    filter: blur(20px);
    z-index: -1;
}
#parallax5 { background-image: url('images/biota5.jpg');
            background-size: 80%; }
#parralax6 { background-image: url('images/biota6.jpg'); }



.content {
    background: rgba(255, 255, 255, 0.9);
    padding: 50px;
    margin: 50px auto;
    width: 80%;
    max-width: 800px;
    border-radius: 10px;
    text-align: center;
}

.start-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    background: #007bff;
    color: white;
    border-radius: 5px;
    transition: 0.3s;
}

button:hover {
    background: #0056b3;
}

#backToTop {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
}
